<h3>
    NDA uses <a href="https://fonts.google.com/specimen/Lato" target="_blank">Lato</a> as its primary font
</h3>

<div class="m-top-md">
    <div class="row">
        <div class="col-5">
            <h1>Heading</h1>
        </div>
        <div class="col-4">
            <code>&lt;h1>Heading&lt;/h1></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h2>Heading</h2>
        </div>
        <div class="col-4">
            <code>&lt;h2>Heading&lt;/h2></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h3>Heading</h3>
        </div>
        <div class="col-4">
            <code>&lt;h3>Heading&lt;/h3></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h4>Heading</h4>
        </div>
        <div class="col-4">
            <code>&lt;h4>Heading&lt;/h4></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h5>Heading</h5>
        </div>
        <div class="col-4">
            <code>&lt;h5>Heading&lt;/h5></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h6>Heading</h6>
        </div>
        <div class="col-4">
            <code>&lt;h6>Heading&lt;/h6></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p>Body</p>
        </div>
        <div class="col-4">
            <code>&lt;p>Body&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="bold">Bold</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="bold">Bold&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="italic">Italic</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="italic">Italic&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="uppercase">uppercase</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="uppercase">uppercase&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="underline">underline</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="underline">underline&lt;/p></code>
        </div>
    </div>
    <div class="row m-bottom-sm">
        <div class="col-5">
            <span class="highlight">highlight</span>
        </div>
        <div class="col-4">
            <code>&lt;span class="highlight">highlight&lt;/span></code>
        </div>
    </div>
    <div class="row m-bottom-sm">
        <div class="col-5">
            <code class="inline">code</code>
        </div>
        <div class="col-4">
            <code>&lt;code>code&lt;/code></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="xsmall-font">xsmall-font</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="xsmall-font">xsmall-font&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="smaller-font">smaller-font</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="smaller-font">smaller-font&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="small-font">small-font</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="small-font">small-font&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="medium-font">medium-font</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="medium-font">medium-font&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="large-font">large-font</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="large-font">large-font&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="sample-box left-align">left</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="left-align">left&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="sample-box center">center</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="center">center&lt;/p></code>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="sample-box right-align">right</p>
        </div>
        <div class="col-4">
            <code>&lt;p class="right-align">right&lt;/p></code>
        </div>
    </div>
</div>