$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-primary-alt:          #02bfe7;
$color-primary-alt-dark:     #00a6d2;
$color-primary-alt-darkest:  #046b99;
$color-primary-alt-light:    #9bdaf1;
$color-primary-alt-lightest: #e1f3f8;

$color-secondary:            #e31c3d;
$color-secondary-dark:       #cd2026;
$color-secondary-darkest:    #981b1e;
$color-secondary-light:      #e59393;
$color-secondary-lightest:   #f9dede;

$color-white:                #ffffff;
$color-base:                 #212121;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b;
$color-gray-light:           #aeb0b5;
$color-gray-lighter:         #d6d7d9;
$color-gray-lightest:        #f1f1f1;

$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0;
$color-gray-cool-light:      #dce4ef;

$color-gold:                 #fdb81e;
$color-gold-light:           #f9c642;
$color-gold-lighter:         #fad980;
$color-gold-lightest:        #fff1d2;

$color-green:                #2e8540;
$color-green-light:          #4aa564;
$color-green-lighter:        #94bfa2;
$color-green-lightest:       #e7f4e4;

$color-cool-blue:            #205493;
$color-cool-blue-light:      #4773aa;
$color-cool-blue-lighter:    #8ba6ca;
$color-cool-blue-lightest:   #dce4ef;

$color-focus:                $color-gray-lighter;
$color-visited:              #4c2c92;

$color-gray-future:          #929292;
$color-green-complete:       #70C041;
$color-accent-orange:        #E46C00;
$color-error:                $color-secondary-dark;
$color-link:                 $color-primary-darker;
$color-help-border:          $color-gray-light;
$color-input-disabled:       #f9f9f9;