// inputs

@import "../helpers/mixins";

textarea,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
select[multiple=multiple] {
  font-size: 1rem;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  border-radius: $border-radius;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0.3em 0.4em;
  width: 100%;
  line-height: 1.5;

  &:active,
  &:focus {
    @include focus;
  }

  &:disabled {
    background-color: $color-input-disabled;
  }
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.input-label {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}

.radio-label,
.checkbox-label {
  @extend .m-left-xs;
  font-size: .85em;
}

span.required,
label.required {
  &::after {
    content: ' * ';
    color: $color-secondary
  }
}

input.invalid,
textarea.invalid,
select.invalid {
  border: 2px solid $color-secondary;
}
