// Site Colors

$color-site:                  $color-primary-darker;

$color-site-submenu:          $color-site;
$color-site-nav-highlight:    $color-def-nav-highlight;
$color-site-chart:            $color-site;
$color-site-link-list:        $color-site;
$color-site-icon:             $color-site;
