// Site Colors

$color-site:                  $color-primary-darker;

$color-site-submenu:          $color-def-submenu;
$color-site-nav-highlight:    $color-def-nav-highlight;
$color-site-chart:            $color-secondary-darkest;
$color-site-link-list:        $color-gray-dark;
$color-site-icon:             $color-secondary-darkest;
